[submodule "mdb_client"]
	path = mdb_client
	url = git@github.com:lforg37/mdb_client.git
[submodule "mdb_httpproxy"]
	path = mdb_httpproxy
	url = git@github.com:lforg37/mdb_httpproxy.git
[submodule "mdb_corel10k"]
	path = mdb_corel10k
	url = git@github.com:lforg37/mdb_corel10k.git
[submodule "mdb_database"]
	path = mdb_database
	url = git@github.com:lforg37/mdb_database.git
